<br>
<div class="container alert alert-success mt-3 p-3">
  <h2 class="text-success text-center">¡Gracias por su compra!</h2>
</div>
<script>
  setTimeout(function () { window.location = "/login"; }, 2000)
</script>