<br>
<div class="container alert alert-danger p-3">
  <h2 class="text-danger text-center">¡Hubo un error de ruteo!</h2>
</div>
<script>
  setTimeout(function () { window.location = `/login`; }, 2000)
</script>